<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="~/Content/headerstyle.css" />
    <link rel="stylesheet" href="~/Content/footerstyle.css" />
    <link rel="stylesheet" href="~/Content/headerstyleguide.css" />
    <meta charset="UTF-8">
    <meta http-equiv="XA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width,
    initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>HanStoria</title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
            <a class="navbar-brand" href="/Home">
                <img src="~/img/logo.svg" alt="Logo" class="img-fluid">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="/Home/List/1" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Çadır ve Gölgelikler
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="/Home/List/1">Çadırlar</a>
                            <a class="dropdown-item" href="/Home/List/1">Gölgelikler</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="/Home/List/2" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kamp Eşyaları
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="/Home/List/2">Eşyalar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="/Home/List/3" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ekipmanlar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="/Home/List/3">Ekipmanlar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="/Home/List/4" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kamp Mutfağı
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="/Home/List/4">Kamp Mutfağı</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="/Home/List/5" id="navbarDropdown1" role="button" aria-expanded="false">
                            İndirimler
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        </div>
                    </li>
                </ul>
                <form action="@Url.Action("Search", "Home")" method="GET">
                    <div class="search">
                        <div class="button-container">
                            <button type="submit" class="search-button-css"><img src="~/icon/arama.svg" alt="Git"></button>
                        </div>
                        <input type="text" name="q" autocomplete="off" class="search input" placeholder="Ara" aria-label="Ürün Ara" role="combobox" aria-expanded="false">
                    </div>
                </form>

                <div class="user-actions">

                    @Html.Partial("_LoginPartial")

                    @Html.Action("Summary", "Card")
                </div>

            </div>
</nav>
    </header>
    @RenderBody()
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <a href="/Account/Register"><h3>ÜYE OL</h3></a>
                <a href="/Account/Login"><h3>ÜYE GİRİŞİ</h3></a>
                <a href="https://indirimkodu.com/"><h3>PROMOSYON KODLARI</h3></a>
            </div>
            <div class="footer-section">
               
                <ul>
                    <li ><a href="/product">Ürün İşlemleri</a></li>
                    <li ><a href="/category">Kategori İşlemleri</a></li>
                    <li><a href="/Account">Sipariş Durumu</a></li>
                    <li><a href="/Account">Kargo ve Teslimat</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Hakkımızda</h3>
                <p>HanStoria Kamp Malzemeleri E-Ticaret Websitesi'nin amacı, doğa tutkunlarına en kaliteli ve işlevsel kamp ekipmanlarını sunarak onların doğayla olan bağlarını güçlendirmek ve bu deneyimi kolaylaştırmaktır. Müşteri odaklı bir yaklaşımla, geniş ürün yelpazesiyle sektörde öncü olmayı hedefliyoruz.</p>
            </div>

            <div class="footer-section">
                <div class="media-actions">
                    <a href="https://www.instagram.com/hanstoria/"><img src="~/icon/instagram.svg" alt="Instagram"></a>
                    <a href="https://www.youtube.com/channel/UC2Fxcx7HLVFtA0eY4mnThow"><img src="~/icon/youtube.svg" alt="Youtube"></a>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 HanStoria - Tüm Hakları Saklıdır.</p>
        </div>
    </footer>
    <script src="~/Scripts/headerscript.js"></script>
</body>
</html>
